
{% extends "base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js" crossorigin="anonymous"></script>

<div class="p-5">
    <h2 class="mb-4">Upcoming Releases</h2>
    <div class="card">
      <div class="card-body p-0">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
  
  <!-- calendar modal -->
  <div id="modal-view-event" class="modal modal-top fade calendar-modal">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-body">
                      <h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
                      <div class="event-body"></div>
                  </div>
                  <div class="modal-footer">
                      <a href="#" class="btn btn-success eventUrl" target="_blank" style="display:none;">Listen on Spotify</a>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
  
  <div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="add-event">
          <div class="modal-body">
          <h4>Add Event Detail</h4>        
            <div class="form-group">
              <label>Event name</label>
              <input type="text" class="form-control" name="ename">
            </div>
            <div class="form-group">
              <label>Event Date</label>
              <input type='text' class="datetimepicker form-control" name="edate">
            </div>        
            <div class="form-group">
              <label>Event Description</label>
              <textarea class="form-control" name="edesc"></textarea>
            </div>
            <div class="form-group">
              <label>Event Color</label>
              <select class="form-control" name="ecolor">
                <option value="fc-bg-default">fc-bg-default</option>
                <option value="fc-bg-blue">fc-bg-blue</option>
                <option value="fc-bg-lightgreen">fc-bg-lightgreen</option>
                <option value="fc-bg-pinkred">fc-bg-pinkred</option>
                <option value="fc-bg-deepskyblue">fc-bg-deepskyblue</option>
              </select>
            </div>
            <div class="form-group">
              <label>Event Icon</label>
              <select class="form-control" name="eicon">
                <option value="circle">circle</option>
                <option value="cog">cog</option>
                <option value="group">group</option>
                <option value="suitcase">suitcase</option>
                <option value="calendar">calendar</option>
              </select>
            </div>        
        </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Save</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>        
        </div>
        </form>
      </div>
    </div>
</div>
<script>

    let events = [
        {% for release in releases %}
                  {
                      title: '{{ release.title }}',
                      description: '{{ release.description }}',
                      start: '{{ release.release_date }}',
                      end: '{{ release.release_date }}',
                      className: 'fc-bg-default',
                      icon : "",
                      {% if release.link %}url: '{{ release.link }}'{% endif %}
                  },
        {% endfor %}
              ]
</script>
<script src="static/calendar.js"></script> 

{% endblock %}
