{% extends "base.html" %}
{% block content %}
  <h1>Recorded live on <a href="https://mixcloud.com/less-than-zero" target="_blank" class="link-dark">Mixcloud</a></h1>
  <h2>Thursday, 7pm until 9pm GMT/BST</h2>
  <h2>Find us on <a href="https://patreon.com/LessThanZero789" target="_blank" class="link-dark">Patreon!</a></h2>
  {% for show_row in shows|batch(3, 'None') %}
  <div class="row p-4">
    {% for show in show_row %}
    <div class="col-sm">
      {% if show != "None" %}
      <a href="{{ show.iso_date}}.html">
        <img src="images/{{ show.iso_date }}.png.webp" class="img-fluid">
      </a>
      <h3>{{ show.display_date }}</h3>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  <script>
    
  </script>
{% endblock %}